<h2>Have a question for the seller of <%= @listing.title %>?</h2>

<h3>Enter it below. The seller will be emailed the question and you will receive an email when it is answered.</h3>

<%= simple_form_for @question, url: listing_questions_path, defaults: { error: false } do |f| %>
	<%= render 'shared/error_messages', object: @question %>
	<%= f.input :question %>
	<%= f.submit %>
<% end %>