<div id="new-listing-form">
	<h1>New Listing</h1>
	<%= simple_form_for @listing, url: user_listings_path, defaults: { error: false, required: false } do |f| %>
		<%= render 'shared/error_messages', object: @listing %>
		<%= f.association :sub_category, prompt: "Choose a Subcategory" %>
		<%= f.input :title %>
		<%= f.input :description %>
		<%= f.input :sell_method, as: :radio_buttons, collection: ["Auction", "Price"], checked: "Auction" %>
			<div id="nested-auction-form"><%= render 'auction_form', f: f %></div>
			<div id="nested-price-fade-form"><%= render 'price_fade_form', f: f %></div>
		<%= f.submit "Create Listing", class: "button-large" %>
	<% end %>
</div>
