<div class="breadcrumb">
	<%= link_to "ALL CATEGORIES", root_path %>
	<span> >> </span>
	<%= link_to @listing.categories.name.upcase, category_listings_path(category_id: @listing.categories) %>
	<span> >> </span>
	<%= link_to @listing.sub_category.name.upcase, sub_category_listings_path(sub_category_id: @listing.sub_category) %>
	<span> >> </span>
	<span><%= @listing.title.upcase %></span>
</div>

<% present @listing do |listing_presenter| %>
	<div class="individual-listing">
		<div class="title"><%= @listing.title %></div>
		<%= listing_presenter.sale_pending_information %>
		<div id="main-listing-image"><%= listing_presenter.large_image %></div>
		<div id="listing-thumbnails"><%= listing_presenter.thumbnails %></div>
		<div class="description"><%= simple_format(@listing.description) %></div>
		<div class="q-and-a">
			<h2><span>Q & A</span><span class="ask-question-button"><%= button_to "Ask The Seller A Question", new_listing_question_path(@listing), method: :get, class: "button-normal" %></span></h2>
			<%= listing_presenter.q_and_a do |question, user_link, answer| %>
				<%= content_tag :p, class: "question" do %>
					<%= question %>
					<%= content_tag :span, user_link %>
				<% end %>
				<%= content_tag :p, answer, class: "answer" %>
			<% end %>
			
		</div>
		<div class="listing-details">
			<ul>
				<li>
					<span class="attribute">Listing Number: </span> 
					<span><%= @listing.id %></span>
				</li>
				<li>
					<span class="attribute">Seller: </span> 
					<span><%= @listing.user.user_name %></span>
				</li>
				<li>
					<span class="attribute">Posted: </span> 
					<span><%= @listing.created_at.strftime("%a, %B %d") %></span>
				</li>
				<li>
					<span class="attribute">Listing Type: </span> 
					<span><%= @listing.sell_method %></span>
				</li>
				<%= listing_presenter.sell_method_details %>
		</div>
	</div>
<% end %> <!-- listing_presenter -->





