<div class="breadcrumb">
	<%= link_to "ALL CATEGORIES", root_path %>
	<span> >> </span>
	<%= link_to @listing.sub_category.name.upcase, sub_category_listings_path(@listing.sub_category_id) %>
	<span> >> </span>
	<%= @listing.title.upcase %>
</div>

<% present @listing do |listing_presenter| %>
	<div class="individual-listing">
		<div class="title"><%= @listing.title %></div>
		<%= listing_presenter.sale_pending_information %>
		<div id="main-listing-image"><%= listing_presenter.large_image %></div>
		<div id="listing-thumbnails"><%= listing_presenter.thumbnails %></div>
		<div class="description"><%= simple_format(@listing.description) %></div>
		<div class="q-and-a">
			<h2>Q & A</h2>
			<%= listing_presenter.q_and_a do |question, user_link, answer| %>
				<%= content_tag :p, class: "question" do %>
					<%= question %>
					<%= content_tag :span, user_link %>
				<% end %>
				<%= content_tag :p, answer, class: "answer" %>
			<% end %>
		</div>
		<div class="question-button"><%= button_to "Ask The Seller A Question", new_listing_question_path(@listing), method: :get, class: "button-normal" %></div>
		<div class="listing-details">
			<ul>
				<%= content_tag :li, "Seller: #{@listing.user.user_name}" %>
				<%= content_tag :li, "Posted On: #{@listing.created_at.strftime("%A %B %d, %Y")}" %>
				<li>Listing Type: <%= @listing.sell_method %></li>
			</ul>
				<%= listing_presenter.sell_method_details %>
		</div>
	</div>
<% end %> <!-- listing_presenter -->





