<%= will_paginate @listings %>
<div class="all-listings">
	<% @listings.each do |listing| %>
		<% present listing do |listing_presenter| %>
		  <div class="listing-index-container">
				<div class="listing-image"><%= listing_presenter.thumbnail %></div>
				<div class="listing-title-container">
					<div class="listing-title"><%= listing_presenter.title %></div>
					<div class="sell-method-details">
						<ul>
							<li>
								<span class="attribute">Listing Number: </span>
								<span><%= listing.id %></span>
							</li>
							<li>
								<span class="attribute">Listing Type: </span>
								<span><%= listing.sell_method %></span>
							</li>
							<%= listing_presenter.sale_pending_message %>
							<li>
								<%= listing_presenter.bids_or_offers do |attribute_name, value| %>
									<%= attribute_name %>
									<%= value %>
								<% end %>
							</li>
							<li>
								<%= listing_presenter.reserve_or_current_price do |attribute_name, value| %>
									<%= content_tag :span, attribute_name, class: "attribute" %>
									<%= content_tag :span, value %>
								<% end %>
							</li>
							<li>
								<%= listing_presenter.end_date_or_next_price do |attribute_name, value| %>
									<%= attribute_name %>
									<%= value %>
								<% end %>
							</li>
							
						</ul>		
					</div>
		 		</div> <!-- listing-index-container -->
			 	<div class="listing-description">
			 		<%= truncate(listing.description, length: 150) %>
			 	</div> <!-- listing-description -->
			 	<div class="listing-footer">
			 		<span class="posted-by">Seller: <%= listing.user.user_name %></span>
			 		<span>Posted On: <%= listing.created_at.strftime("%A %B %d, %Y") %></span>
			 		<% if session[:user_listings] %>
				 		<span><%= listing_presenter.delete_listing %></span>
				 		<span><%= listing_presenter.edit_listing %></span>
				 		<span><%= listing_presenter.add_images %></span>
				 	<% end %>
			 	</div> <!-- listing-footer -->
		  </div>
	  <% end %> <!-- presenter -->
	<% end %> <!-- @listings.each -->
</div>
<div><%= will_paginate @listings %></div>