<div id="header">
	<div id="logo">
		<%= link_to "Haggle Free Victoria", root_path, id: "logo" %>
	</div><!-- logo -->
      		<ul id="menu">
			<% if logged_in? %>
				<li id="user-options-dropdown"><%= link_to current_user.user_name , '#'%><div class="arrow-down"></div>
					<ul id="user-dropdown-links">
						<li><%= link_to "My Watchlist", '#' %></li>
						<li><%= link_to "My Listings", user_listings_path %></li>
						<li><%= link_to "My Bids", bids_user_path %></li>
						<li><%= link_to "My Profile", user_path(current_user) %></li>
					</ul>
				</li>
				<li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "SIGN UP", new_user_path  %></li>
				<li><%= link_to "LOG IN", login_path  %></li>
			<% end %>		
		</ul>
</div> <!-- header -->
