<!DOCTYPE html>
<html>
<head>
  <title>HaggleFree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<ul class="generic-links">
		<li><%= link_to "RECENT LISTINGS", listings_path %></li>
		<li><%= link_to "CREATE NEW LISTING", new_listing_path %></li>
	</ul>
	<div class="main-content">
		<%= render 'layouts/flash' %>
		<%= yield %>
	</div>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
